<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="moe.ore.txhook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:label="TXHookPro"
        android:largeHeap="true"
        android:name="moe.ore.android.Application"
        android:extractNativeLibs="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:label">

        <activity
            android:name=".EntryActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/AppTheme.SplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".app.TeaActivity" />
        <activity android:name=".app.TlvActivity" />
        <activity android:name=".app.Md5Activity" />

        <activity
            android:name=".app.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".app.BdhActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".app.PacketActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name=".app.ParserActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />

        <provider
            android:authorities="moe.ore.txhook.catch"
            android:name=".app.CatchProvider"
            android:grantUriPermissions="true"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Fuck Tencent" />
        <meta-data
            android:name="xposedminversion"
            android:value="23" />

        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="0" />
    </application>

</manifest>